<h2>Hey there</h2>

<p>I'm Jamie, as you may have guessed already. By day I build websites and work as a Junior Project Manager on a variety of communications projects;
    whenever I can arrange some free time I try to convert it into as many skills as possible. I'm currently mostly working on my coding, but skydiving and cooking are also areas under development.</p>

<p>I have a blog, as you can see from the sidebar. This is part of a wider experiment in establishing a coherent online
    persona; dropping some of the many services and names I use in favour of my own name and a small set of necessary
    functions. I don't think I can abandon Facebook, due to the number of people with whom that is my only communication
    channel, but I've thrown aside G+, Twitter and Skype.</p>