<div id="skillsList">
    <h3>Skills</h3>

    <div ng-repeat="skill in skillsList">
        <p> - {{skill}}</p>
    </div>
</div>

<div id="accordionContainer" ng-controller="CVAccordionCtrl">
    <div id="buttonHolder">
        <tabset vertical="true" type="pills">
            <h3>Employment History</h3>
            <tab ng-repeat="tab in jobGroups" heading="{{tab.employer}}" active="tab.active" disable="tab.disabled">
                <h5>{{tab.title}} - {{tab.dates}}</h5>

                <p>{{tab.details}}</p>
            </tab>
            <h3>Education</h3>
            <tab ng-repeat="tab in educationGroups" heading="{{tab.school}}" active="tab.active" disable="tab.disabled">
                <h5>{{tab.title}}</h5>

                <p>{{tab.details}}</p>
            </tab>
            <h3>Hobbies</h3>
            <tab ng-repeat="tab in hobbyGroups" heading="{{tab.activity}}" active="tab.active" disable="tab.disabled">
                <h5>{{tab.skillLevel}}</h5>

                <p>{{tab.details}}</p>
            </tab>
        </tabset>
    </div>
    <div id="dataHolder" class="tab-content">
        <div class="tab-pane"
             ng-repeat="tab in tabs"
             ng-class="{active: tab.active}"
             tab-content-transclude="tab">
        </div>
    </div>
</div>
