<div id="skillsList">
    <h3>Skills</h3>

    <div ng-repeat="skill in skillsList">
        <p> - {{skill}}</p>
    </div>
</div>

<div id="accordionContainer" ng-controller="CVAccordionCtrl">
    <div id="buttonHolder">
        <tabset vertical="true" type="pills">
            <h3>Employment History</h3>
            <tab ng-repeat="tab in jobGroups" heading="{{tab.employer}}" active="tab.active" disable="tab.disabled">
                {{tab.employer}}
            </tab>
            <h3>Education</h3>
            <tab ng-repeat="tab in educationGroups" heading="{{tab.school}}" active="tab.active" disable="tab.disabled">
                {{tab.school}}
            </tab>
            <h3>Hobbies</h3>
            <tab ng-repeat="tab in hobbyGroups" heading="{{tab.activity}}" active="tab.active" disable="tab.disabled">
                {{tab.activity}}
            </tab>
        </tabset>
    </div>
    <div id="dataHolder">

    </div>
</div>
