<div id="skillsList">
    <h3>Skills</h3>

    <div ng-repeat="skill in skillsList">
        <p> - {{skill}}</p>
    </div>
</div>

<div id="accordionContainer" ng-controller="CVAccordionCtrl">
        <h3>Employment History</h3>
        <button ng-repeat="tab in jobGroups" heading="{{tab.employer}}" active="tab.active" disable="tab.disabled">
            <h5>{{tab.title}} - {{tab.dates}}</h5>

            <p>{{tab.details}}</p>
        </button>
        <h3>Education</h3>
        <button ng-repeat="tab in educationGroups" heading="{{tab.school}}" active="tab.active" disable="tab.disabled">
            <h5>{{tab.title}}</h5>

            <p>{{tab.details}}</p>
        </button>
        <h3>Hobbies</h3>
        <button ng-repeat="tab in hobbyGroups" heading="{{tab.activity}}" active="tab.active" disable="tab.disabled">
            <h5>{{tab.skillLevel}}</h5>

            <p>{{tab.details}}</p>
        </button>
</div>
