/* app css stylesheet */

.nav,
.pagination,
.carousel,
.panel-title,
a {
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
}

p, a {
    font-family: "Merriweather", serif;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-color: #8A9BC6;
    background: #DDE3EF;
    color: #9EABB3;
    overflow: hidden;
    z-index: 10;
    padding: 10px;
    opacity: 1;
    width: 100%;
    height:100px;
    border-bottom: 1px solid;
}

body{
    background: url("assets/img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-bottom: 20px;
}

.btn-sidebar {
    border: 2px solid;
    border-color: #AAACAD;
    color: #AAACAD;
    background: #DDE3EF; /*#f5f8fa*/
    margin: 10px 20px;
    width: 145px;
    border-radius: 6px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    padding: 12px 18px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.btn-sidebar:hover {
    border-color: #787A7A;
    color: #787A7A;
}

a.btn-sidebar:hover {
    text-decoration: none;
}

.btn-resume {
    border: 2px solid;
    border-color: #AAACAD;
    color: #AAACAD;
    background: #f5f8fa;
    margin: 10px;
    width: 90%;
    border-radius: 6px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    padding: 6px 12px;
    font-size: small;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.btn-resume:hover {
    border-color: #787A7A;
    color: #787A7A;
}

a.btn-resume:hover {
    text-decoration: none;
}

a.fa:hover {
    text-decoration: none;
}

.jd-logo {
    width: auto;
    margin-right: 110px;
    height: 100%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.jd-logo:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

#main-input{
    width: 100%;
    min-height: 300px;
}

#contact-form{
    padding-top: 15px;
}

.container-fluid{
    margin: 10px;
}

#primary-container{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    background: #f5f8fa;
    opacity: 0.75;
    padding: 30px;
}

.nav-button{
    width: 60px;
    height: 60px;
    margin-left: 55px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px;
    background: #f5f8fa;
    opacity: 0.75;
}

.nav-image{
    width: 50px;
    height: 50px;
}

#nav-logo-dropdown{
    margin-left: 55px;
    background: #f5f8fa;
    opacity: 0.9;
}

@media (max-width: 450px) {
    #primary-container{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 20px;
    }
    .container-fluid{
        padding: 0;
    }
    .side-bar{
        display: none;
    }
    .nav-button{
        margin-left: 15px;
    }
    #nav-logo-dropdown{
        margin-left: 15px;
    }
    #name-flag>h1{
    }
    #name-flag>p{
        margin-top: 15px;
    }
    #skillsList{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 20px;
    }
}

@media (max-width: 640px) and (min-width: 451px) {
    .side-bar{
        display: none;
    }
    #primary-container{
        margin-left: 30px;
        margin-top: 20px;
    }
    #name-flag>h1{
    }
    #name-flag>p{
        margin-top: 15px;
    }
    #skillsList{
        margin-left: 30px;
        margin-top: 20px;
    }
}

#name-flag>p{
    margin-bottom: 0px;
}

#name-flag>h1{
    margin-top: 0px;
}

#name-flag{
    margin-left: 30px;
}

.side-bar>.fa{
    margin-top: 19px;
}

@media (min-width: 640px) {
    .nav-button{
        display: none;
    }
    #primary-container{
        margin-top: 95px;
    }
}

@media (min-width: 1000px) {
    #primary-container {
        max-width: 1000px;
    }
    #skillsList{
        max-width: 1000px;
    }
}
@media (max-width: 1330px) {
    .jd-logo{
        margin-right: 10px;
    }
    .btn-sidebar{
        margin: 10px 10px;
    }
}

#name-flag{
    margin-right: 40px;
    z-index: 99;
    display: inline-block;
}

@media (max-width: 1120px) {
    #name-flag {
        display: none;
    }
}
#accordionContainer{
    padding-top: 20px;
}

#employmentAccordion,
#educationAccordion,
#hobbyAccordion,
#skillsList{
    background: #f5f8fa;
    border-radius: 6px;
}

#buttonHolder {
    display: inline-block;
    height: 226px;
}

#dataHolder{
    height: 470px;
    border: 2px solid;
    border-color: #AAACAD;
    border-radius: 6px;
    margin-top: 66px;
    display: inline-block;
    overflow: auto;
}

#dataHolder>p,
#dataHolder>h4{
    padding-left: 10px;
}

#resumeHolder{
    height: 946px;
}

.cv-btn{
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border: 1px solid #f5f8fa;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #AAACAD;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a2a4a5;
}

.project-holder{
    display: block;
    height: 1000px;
}

.project-pane{
    padding: 30px;
    min-height: 200px;
}

.project-image{
    float: right;
    margin-left: 12px;
    margin-right: 12px;
}

.side-bar {
    -webkit-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.scrolled{
    padding-top: 0px;
    padding-bottom: 0px;
    height: 70px;
}
.scrolled>a>.jd-logo{
    margin-top: 10px;
    height: 50px;
    width: auto;
}
.scrolled>.btn-sidebar{
    margin-top: 7px;
    margin-bottom: 0px;
}
.scrolled>.fa{
    margin-top: 14px;
}
