/* app css stylesheet */

.nav,
.pagination,
.carousel,
.panel-title,
a {
    cursor: pointer;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
}

p, a {
    font-family: "Merriweather", serif;
}

.side-bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    height: 100%;
    border-color: #BFC8CD;
    background: #f5f8fa;
    color: #9EABB3;
    overflow: hidden;
    z-index: 10;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    opacity: 0.85;
    width: 200px;
}

body{
    background: url("/site/app/assets/img/background.jpg") no-repeat center center fixed;
    background-size: auto 100%;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    padding-bottom: 20px;
}

.btn-sidebar {
    border: 2px solid;
    border-color: #AAACAD;
    color: #AAACAD;
    background: #f5f8fa;
    margin: 10px;
    width: 90%;
    border-radius: 6px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    padding: 6px 12px;
    font-size: small;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.btn-sidebar:hover {
    border-color: #787A7A;
    color: #787A7A;
}

a.btn-sidebar:hover {
    text-decoration: none;
}

.jd-logo {
    margin: 10px;
    width: 90%;
    height: auto;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.jd-logo:hover {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

#main-input{
    width: 100%;
    min-height: 300px;
}

#contact-form{
    padding-top: 15px;
}

.container-fluid{
    margin: 10px;
}

#primary-container{
    margin-top: 10%;
    margin-left: 230px;
    margin-right: 30px;
    border-radius: 6px;
    background: #f5f8fa;
    opacity: 0.75;
    padding: 30px;
}