/* app css stylesheet */

.nav,
.pagination, 
.carousel, 
.panel-title, 
a { 
cursor: pointer; 
}

h1,h2,h3,h4,h5{
  font-family: 'Open Sans', sans-serif;
}

p,a{
  font-family: "Merriweather", serif;
}

.side-bar{
  width: 10%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  border-color: #BFC8CD;
  background: #f5f8fa;
  color: #9EABB3;
  overflow: hidden;
  z-index: 9999999;
}

.main-container{
  padding-top: 50px;
  margin-left: 15%;
  width: 80%;
}

.btn-sidebar{
  border: 2px solid;
  border-color: #AAACAD;
  color: #AAACAD;
  background: #f5f8fa;
  margin: 10px;
  width: 90%;
  border-radius: 6px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 0.7vw;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.btn-sidebar:hover{
  border-color: #787A7A;
  color: #787A7A;
}

a.btn-sidebar:hover{
  text-decoration: none;
}

.jd-logo{
  margin: 10px;
  width: 90%;
  height: auto;
}

.footer{
  float: right;
}

@media screen and (max-width: 720px) {
  .side-bar{
    width: 20%;
  }
  .main-container{
    margin-left: 25%;
  }
}