<div class="panel panel-default">
    <a href="#" tabindex="0" class="accordion-toggle" ng-click="$event.preventDefault(); toggleOpen()"
       accordion-transclude="heading">
        <div class="panel-heading">
            <h4 class="panel-title">
                <span ng-class="{'text-muted': isDisabled}">{{heading}}</span>
            </h4>
        </div>
    </a>

    <div class="panel-collapse collapse" collapse="!isOpen">
        <div class="panel-body" ng-transclude></div>
    </div>
</div>
